<h1>Listing member_friend_demands</h1>

<table>
  <tr>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_friend_demands.each do |member_friend_demand| %>
  <tr>
    <td><%= member_friend_demand.message %></td>
    <td><%= link_to 'Show', member_friend_demand %></td>
    <td><%= link_to 'Edit', edit_member_friend_demand_path(member_friend_demand) %></td>
    <td><%= link_to 'Destroy', member_friend_demand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Demand', new_member_friend_demand_path %>
