<h1>Listing document_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @document_types.each do |document_type| %>
  <tr>
    <td><%= document_type.name %></td>
    <td><%= document_type.description %></td>
    <td><%= link_to 'Show', document_type %></td>
    <td><%= link_to 'Edit', edit_document_type_path(document_type) %></td>
    <td><%= link_to 'Destroy', document_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Type', new_document_type_path %>
