<h1>Listing member_schools</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_schools.each do |member_school| %>
  <tr>
    <td><%= member_school.name %></td>
    <td><%= member_school.description %></td>
    <td><%= link_to 'Show', member_school %></td>
    <td><%= link_to 'Edit', edit_member_school_path(member_school) %></td>
    <td><%= link_to 'Destroy', member_school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New School', new_member_school_path %>
