<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member_school.name %>
</p>

<p>
  <b>Description:</b>
  <%= @member_school.description %>
</p>


<%= link_to 'Edit', edit_member_school_path(@member_school) %> |
<%= link_to 'Back', member_schools_path %>
