%h1= t "static_pages.about.title"
%blockquote= t('.blockquote')
%h3= t('.the_authors')
.row
  .columns.large-6
    .panel
      .row
        .columns.small-12.large-6
          =image_tag 'home/yves.jpg'
        .columns.small-12.large-6
          %h5 Yves Baumann
          =simple_format(t('.text.yves'))
  .columns.large-6
    .panel
      .row
        .columns.small-12.large-6
          =image_tag 'home/numa.jpg'
        .columns.small-12.large-6
          %h5 Numa de Montmollin
          =simple_format(t('.text.numa'))
%h3= t('.utils.title')
%p= t('.utils.text')
%ul.columns
  -t('.utils.list').each_line do |a_line|
    -a_line = a_line.split('|')
    %li= link_to a_line[0], a_line[1]
