%h1= t('.h1_title')
%blockquote= raw t('.blockquote', link: contact_path)
.panel#partners
  %h4= link_to 'Inscri-uni', 'http://www.inscri-uni.com/'
  %p
    =link_to 'Inscri-uni', 'http://www.inscri-uni.com/'
    , les études à l'étranger
  %h4= link_to 'Meltingsmots', 'http://www.meltingmots.com/'
  %p Dictionnaire des abréviations
  %h4= t'.other'
  %p
    %a{href:'http://westudy.fr'}
      %img{src:'http://westudy.fr/logo.png'}
  -#%h4= link_to 'Bons plans étudiants', 'http://www.bons-plans-etudiant.fr/'
  -#%p
  -#  le premier site qui recense tous les
  -#  =link_to 'bons plans et réductions destinés exclusivement aux étudiants', 'http://www.bons-plans-etudiant.fr/'
  -#  , ainsi en devenant fan de la page Facebook du site vous serez tenu au courant de tous les bons plans et réductions du moment.
