%h1= t('.h1_title')
%blockquote= t('.blockquote')
%h3= t('.h3_title')
.panel
  %h5= t('.documents.title')
  =simple_format(t('.documents.text'))
  %h5= t('.site.title')
  =simple_format(t('.site.text'))
  %h5= t('.evolution.title')
  =simple_format(t('.evolution.text'))