=raw(t('activity.status.create', owner: link_to(h(activity.owner.name), activity.owner)))
- if activity.trackable
  -##{link_to activity.trackable.name, activity.trackable}.
- else
  #{t'activity.status.not_exist'}.
- if activity.recipient
  - if specification == nil
    -# On doit ajouter les détails
    - if activity.recipient.class.to_s == 'Group::WorkGroup'
      #{t'activity.group_work_group.in'}
      #{link_to activity.recipient.name, activity.recipient}.
- else
  #{t'activity.group_work_group.not_exist'}.