<h1>Listing member_contacts</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_contacts.each do |member_contact| %>
  <tr>
    <td><%= member_contact.first_name %></td>
    <td><%= member_contact.last_name %></td>
    <td><%= member_contact.date_of_birth %></td>
    <td><%= member_contact.gender %></td>
    <td><%= link_to 'Show', member_contact %></td>
    <td><%= link_to 'Edit', edit_member_contact_path(member_contact) %></td>
    <td><%= link_to 'Destroy', member_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_member_contact_path %>
