<%= simple_form_for(@member_message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :is_send %>
    <%= f.input :send_at %>
    <%= f.input :subject %>
    <%= f.input :message %>
    <%= f.input :is_viewed %>
    <%= f.input :viewed_at %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
