<h1>Listing member_messages</h1>

<table>
  <tr>
    <th>Is send</th>
    <th>Send at</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Is viewed</th>
    <th>Viewed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_messages.each do |member_message| %>
  <tr>
    <td><%= member_message.is_send %></td>
    <td><%= member_message.send_at %></td>
    <td><%= member_message.subject %></td>
    <td><%= member_message.message %></td>
    <td><%= member_message.is_viewed %></td>
    <td><%= member_message.viewed_at %></td>
    <td><%= link_to 'Show', member_message %></td>
    <td><%= link_to 'Edit', edit_member_message_path(member_message) %></td>
    <td><%= link_to 'Destroy', member_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_member_message_path %>
