-content_for :title, t('group.groups.index.title_page')
%h1=t('group.groups.index.h1_title')
-#=link_to t('group.groups.index.new_link'), new_group_group_path, class: 'button expand'
%blockquote= t 'group.groups.index.description'
.row
  .columns.large-4
    .panel
      %h3.panel-subtitle= t 'group.groups.index.title_panel_create'
      =render "/group/work_groups/form", edit: false
  .columns.large-8.text-center
    .panel
      .row
        .columns.large-6
          =image_tag('pictograms/10.png',size: "160x160")
          %h3.subheader= t'static_pages.home.work_groups.title'
          %p= t'static_pages.home.work_groups.description'
        .columns.large-6
          =image_tag('pictograms/3.png',size: "160x160")
          %h3.subheader= t'static_pages.home.clouds.title'
          %p= t'static_pages.home.clouds.description'
    -#.panel
      %h4.panel-subtitle= t 'group.groups.index.title_panel_last'
      -if @groups.empty?
        %p= t 'group.groups.index.no_group'
      -else
        %ul.large-block-grid-2
          -@parity=0
          -@groups.each do |g|
            %li= link_to g.name, g