-content_for(:title, t("devise.registrations.edit.title", resource: t("activerecord.models.#{resource_name.to_s}")))
-add_breadcrumb I18n.t('users.show.breadcrumb', user: @user.to_s), user_path(@user)
-add_breadcrumb t("devise.registrations.edit.title", resource: t("activerecord.models.#{resource_name.to_s}"))

%h2= t("devise.registrations.edit.title", resource: t("activerecord.models.#{resource_name.to_s}"))
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart: true }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, :required => true, :autofocus => true
    = f.input :name
    = image_tag resource.avatar.mini
    = f.input :avatar_cache, as: :hidden
    = f.input :avatar
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p= t("devise.registrations.edit.waiting_confirmation", resource: resource.unconfirmed_email)
    %a.button.secondary.small#change-password{href: '#'}= t('devise.registrations.edit.change_password')
    .hide.row#hidden-password
      .columns.small-11.push-1
        = f.input :password, :autocomplete => "off", :required => false
        = f.input :password_confirmation, :required => false
  .form-actions
    = f.button :submit, t("devise.registrations.edit.update")
%h4= t "devise.registrations.edit.cancel_my_account"
%p
  = t "devise.registrations.edit.unhappy"