<h1>Listing user_messages</h1>

<table>
  <tr>
    <th>Is send</th>
    <th>Send at</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Is viewed</th>
    <th>Viewed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_messages.each do |user_message| %>
  <tr>
    <td><%= user_message.is_send %></td>
    <td><%= user_message.send_at %></td>
    <td><%= user_message.subject %></td>
    <td><%= user_message.message %></td>
    <td><%= user_message.is_viewed %></td>
    <td><%= user_message.viewed_at %></td>
    <td><%= link_to 'Show', user_message %></td>
    <td><%= link_to 'Edit', edit_user_message_path(user_message) %></td>
    <td><%= link_to 'Destroy', user_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_user_message_path %>
