<p id="notice"><%= notice %></p>

<p>
  <b>Is send:</b>
  <%= @user_message.is_send %>
</p>

<p>
  <b>Send at:</b>
  <%= @user_message.send_at %>
</p>

<p>
  <b>Subject:</b>
  <%= @user_message.subject %>
</p>

<p>
  <b>Message:</b>
  <%= @user_message.message %>
</p>

<p>
  <b>Is viewed:</b>
  <%= @user_message.is_viewed %>
</p>

<p>
  <b>Viewed at:</b>
  <%= @user_message.viewed_at %>
</p>


<%= link_to 'Edit', edit_user_message_path(@user_message) %> |
<%= link_to 'Back', user_messages_path %>
