<h1>Listing user_message_inboxes</h1>

<table>
  <tr>
    <th>Is viewed</th>
    <th>Viewed at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_message_inboxes.each do |user_message_inbox| %>
  <tr>
    <td><%= user_message_inbox.is_viewed %></td>
    <td><%= user_message_inbox.viewed_at %></td>
    <td><%= link_to 'Show', user_message_inbox %></td>
    <td><%= link_to 'Edit', edit_user_message_inbox_path(user_message_inbox) %></td>
    <td><%= link_to 'Destroy', user_message_inbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inbox', new_user_message_inbox_path %>
