<p id="notice"><%= notice %></p>

<p>
  <b>Is viewed:</b>
  <%= @user_message_inbox.is_viewed %>
</p>

<p>
  <b>Viewed at:</b>
  <%= @user_message_inbox.viewed_at %>
</p>


<%= link_to 'Edit', edit_user_message_inbox_path(@user_message_inbox) %> |
<%= link_to 'Back', user_message_inboxes_path %>
