<%= simple_form_for(@member_address) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :country %>
    <%= f.input :street %>
    <%= f.input :street_number %>
    <%= f.input :city_code %>
    <%= f.input :country_code %>
    <%= f.input :is_actual %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
