<h1>Listing member_addresses</h1>

<table>
  <tr>
    <th>Country</th>
    <th>Street</th>
    <th>Street number</th>
    <th>City code</th>
    <th>Country code</th>
    <th>Is actual</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_addresses.each do |member_address| %>
  <tr>
    <td><%= member_address.country %></td>
    <td><%= member_address.street %></td>
    <td><%= member_address.street_number %></td>
    <td><%= member_address.city_code %></td>
    <td><%= member_address.country_code %></td>
    <td><%= member_address.is_actual %></td>
    <td><%= link_to 'Show', member_address %></td>
    <td><%= link_to 'Edit', edit_member_address_path(member_address) %></td>
    <td><%= link_to 'Destroy', member_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_member_address_path %>
