<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @member_address.country %>
</p>

<p>
  <b>Street:</b>
  <%= @member_address.street %>
</p>

<p>
  <b>Street number:</b>
  <%= @member_address.street_number %>
</p>

<p>
  <b>City code:</b>
  <%= @member_address.city_code %>
</p>

<p>
  <b>Country code:</b>
  <%= @member_address.country_code %>
</p>

<p>
  <b>Is actual:</b>
  <%= @member_address.is_actual %>
</p>


<%= link_to 'Edit', edit_member_address_path(@member_address) %> |
<%= link_to 'Back', member_addresses_path %>
