<h1>Listing member_parameters</h1>

<table>
  <tr>
    <th>Language</th>
    <th>Localization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_parameters.each do |member_parameter| %>
  <tr>
    <td><%= member_parameter.language %></td>
    <td><%= member_parameter.localization %></td>
    <td><%= link_to 'Show', member_parameter %></td>
    <td><%= link_to 'Edit', edit_member_parameter_path(member_parameter) %></td>
    <td><%= link_to 'Destroy', member_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parameter', new_member_parameter_path %>
