<p id="notice"><%= notice %></p>

<p>
  <b>Language:</b>
  <%= @member_parameter.language %>
</p>

<p>
  <b>Localization:</b>
  <%= @member_parameter.localization %>
</p>


<%= link_to 'Edit', edit_member_parameter_path(@member_parameter) %> |
<%= link_to 'Back', member_parameters_path %>
