<h1>Listing member_studies</h1>

<table>
  <tr>
    <th>Started at</th>
    <th>Ended at</th>
    <th>Orientatoin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studies.each do |member_study| %>
  <tr>
    <td><%= member_study.started_at %></td>
    <td><%= member_study.ended_at %></td>
    <td><%= member_study.orientatoin %></td>
    <td><%= link_to 'Show', member_study %></td>
    <td><%= link_to 'Edit', edit_member_study_path(member_study) %></td>
    <td><%= link_to 'Destroy', member_study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Study', new_member_study_path %>
