<h1>Listing document_study_levels</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @document_study_levels.each do |document_study_level| %>
  <tr>
    <td><%= document_study_level.name %></td>
    <td><%= document_study_level.description %></td>
    <td><%= link_to 'Show', document_study_level %></td>
    <td><%= link_to 'Edit', edit_document_study_level_path(document_study_level) %></td>
    <td><%= link_to 'Destroy', document_study_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Study level', new_document_study_level_path %>
