=render(layout: 'layout') do
  %h1= t('users.invitations.title_page')
  -if (give_a_reply = @invitations.give_a_reply).empty? and (email_reply = @email_invitations.give_a_reply).empty?
    %p= t('users.invitations.no_invit')
  -else
    -unless give_a_reply.empty?
      %p= give_a_reply.inspect
      -give_a_reply.each do |an_invit|
        %li
          %p= t('users.invitations.sender', sender: link_to(h(an_invit.sender), an_invit.sender), member: link_to(h(@user), @user), group: link_to(h(an_invit.group), an_invit.group), msg: h(an_invit.message)).html_safe
          #invit-form
            =simple_form_for an_invit, url: group_work_group_invitation_path(work_group_id: an_invit.group.id, id: an_invit.id), method: :patch do |f|
              .hide
                =f.input :status, selected: 'accepted'
              =f.button :submit, t('users.invitations.accept'), class: 'tiny success'
            =simple_form_for an_invit, url: group_work_group_invitation_path(work_group_id: an_invit.group.id, id: an_invit.id), method: :patch do |f|
              .hide
                =f.input :status, selected: 'refused'
              =f.button :submit, t('users.invitations.refuse'), class: 'tiny alert'
            =simple_form_for an_invit, url: group_work_group_invitation_path(work_group_id: an_invit.group.id, id: an_invit.id), method: :patch do |f|
              .hide
                =f.input :status, selected: 'later'
              =f.button :submit, t('users.invitations.later'), class: 'tiny secondary'
    -email_reply.each do |email_invit|
      %li
        %p= t('users.invitations.sender', sender: link_to(h(email_invit.user), email_invit.user), member: link_to(h(@user), @user), group: link_to(h(email_invit.group_group), email_invit.group_group), msg: h(email_invit.message)).html_safe
        #invit-form
          =simple_form_for email_invit, url: group_work_group_email_invitations_path(work_group_id: email_invit.group_group.id, id: email_invit.id, secret_token: email_invit.secret_token), method: :patch do |f|
            .hide
              =f.input :status, selected: 'accepted'
            =f.button :submit, t('users.invitations.accept'), class: 'tiny success'
          =simple_form_for email_invit, url: group_work_group_email_invitation_path(work_group_id: email_invit.group_group.id, id: email_invit.id, secret_token: email_invit.secret_token), method: :patch do |f|
            .hide
              =f.input :status, selected: 'refused'
            =f.button :submit, t('users.invitations.refuse'), class: 'tiny alert'
          =simple_form_for email_invit, url: group_work_group_email_invitation_path(work_group_id: email_invit.group_group.id, id: email_invit.id, secret_token: email_invit.secret_token), method: :patch do |f|
            .hide
              =f.input :status, selected: 'later'
            =f.button :submit, t('users.invitations.later'), class: 'tiny secondary'