%li
  .index-document
    .row
      .columns.small-24.show-for-small
        %h1= link_to document.title, document
        .hide-for-small
          =l(document.created_at, format: :short)
        %h6.doc-subtitle= doc_sub_title document
      .large-8.columns.small-24
        .row
          .small-8.large-24.columns
            %a{href: document_document_path(document), class: 'th'}
              =image_tag show_icon(document), width: 100, height: 100
            %p= rating_for document, 'note', star: 5, path: rate_url
          .large-24.small-16.columns
            %ul.no-bullet
              %li
                =raw("<important class='label secondary'>#{t('document.documents.index.hits')}</important>")
                =document.hits
              %li= show_extension(document)
              %li= pluralize document.number_of_pages, t('document.dico.page')
              %li.show-for-small
                =t('document.documents.index.published_by')
                =link_to(document.user.to_s, document.user)
        #star
      .small-24.columns.large-16
        .hide-for-small
          %h3= link_to document.title.truncate(40, separator: ' ', omission: ' ...'), document
          %h6.doc-subtitle= doc_sub_title document
          .hide-for-small
            =t('document.documents.index.published_by')
            =link_to(document.user.to_s, document.user)
        -#%p= document.description.truncate(100, separator: ' ', omission: ' ...')
        %p= cite_a_part(document.description, '', 200)
        .row
          .columns
            -#link_to t('document.documents.index.download'), document_document_download_path(document_document_id: document), class: 'button secondary expand'
            -#link_to t('document.documents.index.show'), document, class: 'button secondary expand'
            =edit_link(document, t('document.documents.show.modify'), 'button secondary tiny')
    %hr.show-for-small
-if (@parity+=1)%2==0
  %hr.hide-for-small