$('#documents').html("#{escape_javascript(render @document_documents)}");
$('#paginate').html("#{escape_javascript paginate @document_documents, remote: true}");
document.title = "#{escape_javascript(full_title(''))}";
$('#paginate li a').click(function() {history.pushState('', null, this.href)});
$('#url_for_order').val("#{escape_javascript @url_for_js}");
-if @document_documents.empty?
  $('#no-doc').html("#{t('documents.index.no_result')}")