<h1>Listing document_documents</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Author</th>
    <th>Number of pages</th>
    <th>Realized at</th>
    <th>Language</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @document_documents.each do |document_document| %>
  <tr>
    <td><%= document_document.title %></td>
    <td><%= document_document.description %></td>
    <td><%= document_document.author %></td>
    <td><%= document_document.number_of_pages %></td>
    <td><%= document_document.realized_at %></td>
    <td><%= document_document.language %></td>
    <td><%= link_to 'Show', document_document %></td>
    <td><%= link_to 'Edit', edit_document_document_path(document_document) %></td>
    <td><%= link_to 'Destroy', document_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document', new_document_document_path %>
