history.pushState('', null, "#{escape_javascript(@url)}")
$('#documents').html("#{escape_javascript(render @document_documents)}");
$('#paginate').html("#{escape_javascript paginate @document_documents, remote: true}");
document.title = "#{escape_javascript(full_title(''))}";
$('#url_for_order').val("#{escape_javascript @url}");
$('#paginate li a').on('click', function() {history.pushState('', null, this.href.split('?')[0]);});
-if @document_documents.empty?
  $('#no-doc').html("#{t('documents.index.no_result')}")
-else
  $('#no-doc').html('');