-unless params[:page]
  history.pushState('', null, "#{raw @url}");
$('#documents').html("#{escape_javascript(render @document_documents, count: @document_documents.size)}");
$('#paginate').html("#{escape_javascript paginate @document_documents, remote: true}");
document.title = "#{escape_javascript(full_title(yield(:title)))}";
$('#url_for_order').val("#{escape_javascript @url}");
$('#paginate li a').on('click', function() {history.pushState('', null, this.href);});
$('#breadcrumb').html("#{escape_javascript(render_breadcrumbs :builder => ::FoundationBreadcrumbsBuilder, :separator => "&raquo;")}");
applyRaty();
-if @document_documents.empty?
  $('#no-doc').html("#{t('document.documents.index.no_document')}")
-else
  $('#no-doc').html('');