%h1= @document.title
.row
  .columns.small-24.show-for-small
    = link_to(t('document.documents.index.download'), document_document_download_path(document_document_id: @document), class: 'button success expand', 'data-no-turbolink' => '')

-#infos documents et fichier
.row
  .columns.large-16
    .panel
      %a{href: document_document_download_path(document_document_id: @document), class: 'th wrap-text', 'data-no-turbolink' => ''}
        =image_tag show_icon(@document), width: 100, height: 100
      %h2.panel-subtitle
        =raw(doc_sub_title(@document))
        =t('document.documents.show.realized_by', author: @document.author)
      .panel-text
        =s(@document.description).html_safe
      %p
        =t('document.documents.index.published_by')
        =link_to(@document.user.to_s, @document.user)
        =t('dico.time_ago', date: time_ago_in_words(@document.created_at))
        .row
          .columns.small-12
            =rating_for @document, 'note', star: 5
            -unless @document.note_average.nil?
              = t('document.documents.show.average', notes: @document.note_average.avg)
              %br
              = pluralize @document.note_average.qty, t('dico.personne')
              = @document.note_average.qty <= 1 ? t('document.documents.show.has_voted') : t('document.documents.show.have_voted')
          .columns.small-12.push-1.hide-for-small
            = link_to(t('document.documents.index.download'), document_document_download_path(document_document_id: @document), class: 'button success', 'data-no-turbolink' => '')
  .columns.large-8
    .row
      .columns.small-24
        %ul.pricing-table
          %li.title
            = t('document.documents.show.informations')
            = edit_link(@document, t('document.documents.show.modify'), 'button small')
            = destroy_link(@document, t('document.documents.show.delete'), 'button alert small')
          %li.bullet-item= t('document.documents.show.degree', study_level: @document.study_level)
          %li.bullet-item
            =t('dico.documents.realized').titleize
            =display_date_or_year @document.realized_at
          %li.bullet-item= pluralize @document.number_of_pages, t('document.dico.page')
          %li.bullet-item= pluralize @document.hits, t('dico.documents.download')
          %li.bullet-item= show_extension(@document)
.row
  .columns.large-12.small-24
    .suggestion-panel
      %h6= t('document.documents.show.suggestion')
      %ul
        -@suggest.each do |a_doc|
          %li= link_to a_doc.title, a_doc
  .columns.large-12.small-24
    .suggestion-panel
      %h6= t('document.documents.show.top_docs')
      %ul
        -@top_docs.each do |key|
          %li= link_to @top_docs[key.first].title, @top_docs[key.first] unless @top_docs[key.first].nil?
