<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @document_document.title %>
</p>

<p>
  <b>Description:</b>
  <%= @document_document.description %>
</p>

<p>
  <b>Author:</b>
  <%= @document_document.author %>
</p>

<p>
  <b>Number of pages:</b>
  <%= @document_document.number_of_pages %>
</p>

<p>
  <b>Realized at:</b>
  <%= @document_document.realized_at %>
</p>

<p>
  <b>Language:</b>
  <%= @document_document.language %>
</p>


<%= link_to 'Edit', edit_document_document_path(@document_document) %> |
<%= link_to 'Back', document_documents_path %>
