<h1>Listing member_comments</h1>

<table>
  <tr>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @member_comments.each do |member_comment| %>
  <tr>
    <td><%= member_comment.message %></td>
    <td><%= link_to 'Show', member_comment %></td>
    <td><%= link_to 'Edit', edit_member_comment_path(member_comment) %></td>
    <td><%= link_to 'Destroy', member_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_member_comment_path %>
