-#content_for :title, t('users.show.meta_title', user: @user.name_to_show)
-content_for :title, t('group.members.title_page', group: @group.name)

=render(:layout => 'group/layouts/layout') do
  %h1= t('group.members.title_page', group: @group.name)
  .row
    .columns.small-12.large-6
      .panel
        %h3= t('group.members.invitation_form')
        =render partial: 'group/invitations/form'
    .columns.small-12.large-6
      .panel
        %h3= t('group.members.invitation_list')
        -if @group.p_or_l_group_invitations.empty?
          %p= t('group.members.empty_invitation_list')
        -else
          %ul
          -@group.p_or_l_group_invitations.each do |an_invitation|
            %li
              -if an_invitation.receiver.is_a? User
                =image_and_name_for(an_invitation.receiver)
              -else
                = link_to an_invitation.receiver, an_invitation.receiver
              = link_to t('group.members.delete_invitation'), group_work_group_invitation_path(@group, an_invitation), method: :delete, data: {confirm: t('confirm')}, class: 'button small secondary'
  .row
    .columns.small-12
      %h3= t('group.members.members_list')
      -if @group.members.empty?
        =t'group.members.empty'
      -else
        %ul
          -@group.members.each do |m|
            %li
              -gm = m.group_members.where(group: @group).take
              =link_to m.to_s, m
              ="occupe le rôle de #{gm.role.text} et a rejoint le groupe #{gm.joined_method.text}"
              -if gm.invited_or_added_by
                (par :
                =link_to gm.invited_or_added_by.to_s, gm.invited_or_added_by
                )
