-#content_for :title, t('users.show.meta_title', user: @user.name_to_show)
-content_for :title, t('group.members.title_page', group: @group.name)
=render(:layout => 'group/layouts/layout') do
  -add_breadcrumb t('group.work_groups.menu.members'), group_work_group_members_path(@group)
  %h1= t('group.members.title_page', group: @group.name)
  .row
    .columns.small-24.large-12
      .panel
        %h3= t('group.members.invitation_form')
        =render partial: 'group/invitations/form'
    .columns.small-24.large-12
      .panel
        %h3= t('group.members.invitation_list')
        -if @group.p_or_l_group_invitations.empty? and @group.p_or_l_email_invitations.empty?
          %p= t('group.members.empty_invitation_list')
        -else
          -@group.p_or_l_group_invitations.each do |an_invitation|
            .row
              .columns.medium-12
                -if an_invitation.receiver.is_a? User
                  =image_and_name_for(an_invitation.receiver)
                -else
                  = link_to an_invitation.receiver, an_invitation.receiver
              .columns.medium-12
                = link_to t('group.members.delete_invitation'), group_work_group_invitation_path(@group, an_invitation), method: :delete, data: {confirm: t('confirm')}, class: 'button small secondary'
          -@group.p_or_l_email_invitations.each do |email_invit|
            .row
              .columns.medium-12
                = email_invit.email
              .columns.medium-12
                =link_to t('group.members.delete_invitation'), group_work_group_email_invitation_path(work_group_id: @group, id: email_invit), method: :delete, data: {confirm: t('confirm')}, class: 'button small secondary'
  .row
    .columns.small-24
      %h3= t('group.members.members_list')
      -if @group.members.empty?
        =t'group.members.empty'
      -else
        %ul.no-bullet
          -@group.members.each do |m|
            %li.list-member-group
              -gm = m.group_members.where(group: @group).take
              =image_and_name_for m
              -if gm.role = :admin
                ="(#{gm.role.text})"
              -if @group.user == gm.member
                ="est le créateur du groupe"
              -elsif gm.joined_method == 'by_itself'
                ="a rejoint le groupe de sa propre initiative"
              -else
                ="invité #{gm.joined_method.text}"
                -if gm.invited_or_added_by
                  ="par #{image_and_name_for gm.invited_or_added_by}".html_safe