%div
  %h2= t('mailer.group.new_invitation.subject', user: @user.to_s, group: @group.to_s)
  -unless @message.blank?
    %h3= t('mailer.group.new_invitation.message')
    %p= @message
  %p
    = t('mailer.group.new_invitation.p1')
    =group_work_group_email_invitations_url(work_group_id: @group.id, id: @email_id, secret_token: @secret_token)
  %p= t('mailer.group.new_invitation.greetings')
  %p= t('mailer.group.new_invitation.sign')
