%li.sale_book_index
  .row.sale_book_index{'class'=>"sale_book_id_#{sale_book.id}"}
    .hide
      .sale_book_text_title
        =t('sale_books.buy.title', book: sale_book.book.title)
      .sale_book_text_content
        -#Attention avec raw, de tout escape dedans !
        =raw(t('sale_books.buy.content', user: link_to(h(sale_book.user.to_s), sale_book.user), book: link_to(h(sale_book.book.title),sale_book), price:number_to_currency(h(sale_book.price), :unit => h(sale_book.currency.text))))
      %pre.sale_book_textarea_content~t('sale_books.buy.textarea', book: sale_book.book.title)
      .sale_book_user_id
        =sale_book.user.id
      .sale_book_subject_content
        =t('sale_books.buy.subject', book: sale_book.book.title)
    .large-4.columns.small-12
      .row
        .small-12.columns
          %a.th{href: advertisement_sale_book_path(sale_book)}
            =book_image(sale_book.book)
          %br
          %p= rating_for sale_book.book, 'note', star: 5
          =edit_link(sale_book, t('sale_books.show.edit'), 'button tiny secondary')
          -#%a.button.tiny.secondary{href: edit_advertisement_sale_book_path(sale_book)}=t'sale_books.show.edit'
      -#.row
      -#  .small-12.columns
      -#    %p
      -#      =raw("<span>#{t('advertisements.index.hits')}</span>")
      -#      =sale_book.hits
      #star
    .small-12.columns.large-8
      %h3= link_to sale_book.title.truncate(80, separator: '', omission: '...'), sale_book
      %h6.ads-subtitle= link_to sale_book.book.title.truncate(80, separator: '', omission: '...'), sale_book
      -#%h6.subheader= t('sale_books.index.subtitle1', book:sale_book.book.title)
      -#%h5.subheader
      %p
        =t('sale_books.index.subtitle2', price: number_to_currency(sale_book.price, :unit => sale_book.currency.text))
        =link_to(sale_book.user.to_s, sale_book.user)
      -if sale_book.description
        -#%p= sale_book.description.truncate(200, separator: ' ', omission: ' ...')
        %p= cite_a_part(sale_book.description, '', 200)
      -elsif sale_book.book.description
        %p= sale_book.book.description.truncate(200, separator: ' ', omission: ' ...')
      -else
        %p= t('sale_books.index.no_description')
      .small-12.large-4
        -# ATTENTION NE PAS CHANGER LE ID DU LINK DESSOUS, LIE AU JS DANS SALE_BOOK.JS
        -if current_user.nil?
          =link_to(t('sale_books.index.buy'), contact_book_messages_path(sale_book.id), class: 'button secondary small expand')
        -else
          %a.button.small.expand.secondary{'href'=>'#', 'data-reveal-id'=>'buy_book', 'class' => 'button_buy_book', 'id' => "button_buy_book_#{sale_book.id}"}=t('sale_books.index.buy')
    %hr.show-for-small
-if (@parity+=1)%2==0
  %hr.hide-for-small