<h1>Listing user_parameters</h1>

<table>
  <tr>
    <th>Language</th>
    <th>Localization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_parameters.each do |user_parameter| %>
  <tr>
    <td><%= user_parameter.language %></td>
    <td><%= user_parameter.localization %></td>
    <td><%= link_to 'Show', user_parameter %></td>
    <td><%= link_to 'Edit', edit_user_parameter_path(user_parameter) %></td>
    <td><%= link_to 'Destroy', user_parameter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parameter', new_user_parameter_path %>
