<h1>Listing user_group_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Is public</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_group_groups.each do |user_group_group| %>
  <tr>
    <td><%= user_group_group.name %></td>
    <td><%= user_group_group.description %></td>
    <td><%= user_group_group.is_public %></td>
    <td><%= user_group_group.password %></td>
    <td><%= link_to 'Show', user_group_group %></td>
    <td><%= link_to 'Edit', edit_user_group_group_path(user_group_group) %></td>
    <td><%= link_to 'Destroy', user_group_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_user_group_group_path %>
