<p id="notice"><%= notice %></p>

<p>
  <b>Is viewed:</b>
  <%= @member_message_inbox.is_viewed %>
</p>

<p>
  <b>Viewed at:</b>
  <%= @member_message_inbox.viewed_at %>
</p>


<%= link_to 'Edit', edit_member_message_inbox_path(@member_message_inbox) %> |
<%= link_to 'Back', member_message_inboxes_path %>
