%footer
  .panel
    .row
      .columns.large-3
        %h6= link_to t('app_name'), eval("root_#{I18n.locale.to_s}_path")
        %ul
          %li= link_to t('footer.collaide.documents'), document_documents_path
          %li= link_to t('footer.collaide.books'), advertisement_advertisements_path
          %li= link_to t('footer.collaide.news'), blog_path
          %li= link_to t('footer.collaide.rules'), rules_path
          %li= link_to t('footer.collaide.partners'), partners_path
          %li= link_to t('footer.collaide.about'), about_path
          %li= link_to t('footer.collaide.contact'), contact_path
      .columns.large-3
        %h6= link_to t('footer.titles.documents'), document_documents_path
        %ul
          -@footer_document.each do |a_doc|
            %li= link_to a_doc.title, document_documents_path
      .columns.large-3
        %h6= link_to t('footer.titles.partners'), partners_path
        %ul
          %li= link_to 'inscri-uni les études à l\'étranger', 'http://www.inscri-uni.com/'
      .columns.large-3
        %h6= t('footer.titles.follow_us')
        %ul.inline-list
          %li= link_to 'Facebook', 'http://www.facebook.com/infocollaide', class: 'webicon facebook'
          %li= link_to 'Twitter', 'http://twitter.com/#!/collaide', class: 'webicon twitter'

    -#%li
    -#  =t'header.lang'
    -#  %br
    -#  -I18n.available_locales.map do |l|
    -#    -active = ''
    -#    -if l.to_s == I18n.locale.to_s
    -#      -active = 'active'
    -#    =link_to t("translation.#{l}"),  url_for(:locale => l.to_s), class: active
    -#    %br
-#%p= debug(params) if Rails.env.development?