%nav.top-bar{'data-topbar' => ''}
  %ul.title-area
    / Title Area
    %li.name
      %h1= link_to t("app_name"), eval("root_#{I18n.locale}_path")
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span Menu
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      %li.divider
      %li= link_to t("header.document"), document_documents_path
      %li.divider
      %li= link_to t("header.advertisement"), advertisement_advertisements_path
      %li.divider
      %li= link_to t("header.group"), group_groups_path
    / Right Nav Section
    %ul.right
      %li.divider.hide-for-small
      - if user_signed_in?
        %li= link_to t('header.inbox'), messages_path
        %li.divider.hide-for-small
        %li= link_to current_user.to_s, current_user
        %li.divider.hide-for-small
        %li.has-dropdown
          %a{href: "#"}
            -#=t('header.user.settings')
            %i.fi-widget
          %ul.dropdown
            %li= link_to t("header.user.edit"), edit_user_registration_path
            %li.divider
            %li= link_to t("header.user.logout"), destroy_user_session_path, method: :delete
      - else
        %li.has-form= link_to(t("header.sign_in"), new_user_session_path, class: "button")
        -#%li.has-form= link_to(t("header.sign_up"), new_registration_path, class: "button")