<!DOCTYPE html>
<html>
    <head>
      <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "vendor/custom.modernizr" %>
      <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
            <%= render 'layouts/header' %>
               <div class="row">
                 <div class="columns small-12">
                    <% flash.each do |key, value| %>
                        <div data-alert class="alert-box <%= key%>">
                            <%= value%>
                            <a href="#" class="close">&times;</a>
                        </div>
                   <% end %>
                 </div>
               </div>
               <div class="row">
                 <div class="columns small-12">
                   <%= yield %>
                 </div>
               </div>
         <div class="row">
             <div class="columns small-12">
                 <%= render 'layouts/footer' %>
             </div>
         </div>
        <%= javascript_include_tag "application" %>
    </body>
</html>
